In [2]:
import pandas as pd
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://germancastano:pT1U3pSkrtyjPGLJ@datasetprueba.1nmab.mongodb.net/?retryWrites=true&w=majority&appName=DataSetPrueba"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [8]:
# https://www.kaggle.com/datasets/raghavramasamy/crop-statistics-fao-all-countries?select=Crops_AllData_Normalized.csv
dfDatos = pd.read_csv("./Crops_AllData_Normalized.csv",encoding="latin1")

In [19]:
dfDatos[dfDatos["Area Code"]<5000]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1975,1975,ha,0.0,F
1,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1976,1976,ha,5900.0,F
2,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1977,1977,ha,6000.0,F
3,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1978,1978,ha,6000.0,F
4,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,1979,1979,ha,6000.0,F
...,...,...,...,...,...,...,...,...,...,...,...
1806383,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2015,2015,tonnes,226489.0,A
1806384,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2016,2016,tonnes,230038.0,A
1806385,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2017,2017,tonnes,233908.0,A
1806386,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2018,2018,tonnes,237783.0,A
1806387,181,Zimbabwe,1735,Vegetables Primary,5510,Production,2019,2019,tonnes,241666.0,A

In [22]:
len(dfDatos[dfDatos["Area Code"]<5000])

1806388

In [ ]:
db = client["datasetCrops"]
# collection = db["empleoGral"]
# data =dfDatosGeneral.to_dict("records")
# collection.drop()
# collection.insert_many(data)

# db = client["673eacb652d8210aedcbbc4c"]
collection = db["crops"]
data =dfDatos[dfDatos["Area Code"]<5000].to_dict("records")
collection.drop()
collection.insert_many(data)

In [ ]:
cursor = collection.find()
list_cur = list(cursor)
df = pd.DataFrame(list_cur)